@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "MonoSpace", monospace;
  background: #18191a;
  transition: background 0.2s ease; /* Optional: Smoothens the transition of the gradient */
}

.blogs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.text-color {
  color: #b0b3b8;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
}

.nav-button {
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: absolute;
  top: 18px;
  color: #fff;
  left: 28px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background: #fff;
}

ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  padding: 25px;
  position: absolute;
  top: 100px;
  width: 230px;
}

li {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icon-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex: 40px 0;
  margin-right: 20px;
  padding-top: 5px;
}

.text-placeholder {
  border-radius: 5px;
  width: 200px;
  height: 20px;
  flex: 1;
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(26, 159, 86, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.box {
  min-height: 250px; /* set to the specific size you want */
  height: auto; /* allows the box to grow with its content */
}

@keyframes pulsateButton {
  0% {
    box-shadow: 0 0 5px #0099ff;
  }
  50% {
    box-shadow: 0 0 20px #5001ef, 0 0 30px #5001ef;
  }
  100% {
    box-shadow: 0 0 5px #0099ff;
  }
}

.pulsate-effect {
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  cursor: pointer;
  animation: pulsateButton 1.5s infinite;
  transition: background-color 0.3s ease;
}

@keyframes pulsateButtonBlue {
  0% {
    box-shadow: 10px 10px 10px rgba(0, 255, 170, 0.637)
  }
  50% {
    box-shadow: 10px  10px 10px rgba(0, 255, 170, 0.637), 10px 10px 10px rgba(0, 255, 170, 0.637)
  }
  100% {
    box-shadow: 10px  10px 10px rgba(0, 255, 170, 0.637);
  }
}


.pulsate-box:hover{
  /* background-color: transparent; */
  cursor: pointer;
  animation: pulsateButtonBlue 1.5s infinite;
  transition: background-color 0.3s ease;
}

/* Adjust your box classes as needed, sizes are just examples */
.box-small,
.box-large {
  /* This will break out of the column layout on small screens */
  @media (max-width: 600px) {
    width: 100%;
  }

  /* Sizes for larger screens */
  @media (min-width: 601px) {
    width: 400px;
  }
}

.box-large {
  height: 450px; /* Your large height */
}

.box-small {
  height: 400px; /* Your small height */
}

/* The projects container will create the column effect */
.projects-container {
  column-count: 2; /* This creates 2 columns */
  column-gap: 20px; /* This sets the gap between columns */
  max-width: 900px;
  margin: 0 auto;
  padding: 25px; /* This adds padding on all sides */

  @media (max-width: 600px) {
    column-count: 1; /* On small screens, we only want 1 column */
  }
}

/* You can use break-inside to prevent splitting your boxes across columns */
.project-box {
  break-inside: avoid;
  page-break-inside: avoid;
  margin-bottom: 25px; /* This adds space between items */
  background: white;
  border: 1px solid #ccc;
}

.pills {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.pill {
  padding: 0.25rem 0.75rem;
  border-radius: 9999px; /* This gives a pill-like shape */
  background-color: #e0e0e0; /* Light gray background */
  color: #333; /* Dark text color */
  font-size: 0.875rem; /* Smaller font size */
  line-height: 1.5;
  white-space: nowrap;
}

.modal-overlay {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1e293b;
  height: 50vh;
  width: 100vw;
}

/* For animating modal enter */
.modal-content.open {
  transform: translateY(0%);
}

/* ProjectModal.css */
.close-button {
  position: absolute;
  top: 10px; 
  right: 50px; 
  border: none;
  width: 100px; 
  height: 50px; 
  border-radius: 100px;
  color: white; 
  font-size: 20px;
  cursor: pointer;
}

.modal-overlay-big {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1e293b;
  height: 50vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-left: 2rem; /* Adjusted for responsiveness */
}

.project-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.details-container {
  display: flex;
  flex-direction: column;
  height: 25rem; /* Adjusted for responsiveness */
  justify-content: space-evenly;
  width: 70%;
  margin-left: 2rem; /* Adjusted for responsiveness */
}

.project-title {
  font-size: 2rem; /* Adjusted for responsiveness */
}

.project-description {
  overflow: auto;
  font-size: 1rem; /* Adjusted for responsiveness */
}

/* Media Queries */
@media (max-width: 768px) {
  .modal-overlay-big {
    height: 70vh;
  }

  .details-container, .image-container {
    margin-left: 1rem;
  }

  .project-title {
    font-size: 1.5rem;
  }

  .project-description {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .modal-overlay-big {
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .details-container {
    width: 90%;
  }

  .project-title {
    font-size: 1.2rem;
  }

  .project-description {
    font-size: 0.8rem;
  }
}
